

#ve591 .GraphSkin {
  data-skin: GLOSS;
}
#ve247 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve1084 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve1015 .GraphSkin {
  data-skin: GLOSS;
}
#ve1469 .GraphSkin {
  data-skin: CRISP;
}
#ve352 .styleForTitle_span1 {
  font-size: 20px;
}
#ve1536 .GraphSkin {
  data-skin: CRISP;
}
#ve1536 .styleForTitle_span3 {
  font-size: 22px;
}
#ve352 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve1571 .GraphSkin {
  data-skin: CRISP;
}
#ve828 .GraphSkin {
  data-skin: GLOSS;
}
#ve1015 .styleForTitle_span6 {
  font-size: 20px;
}
#ve1535 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#cd542 .If {
  background-color: #B14C51;
}
#ve447 .styleForTitle_span2 {
  font-size: 20px;
}
#ve873 .styleForTitle_span8 {
  font-size: 20px;
}
#ve873 .styleForTitle_paragraph8 {
  text-align: center;
}
#cd1325 .If {
  background-color: #FCDD7C;
  transparency: 0.8;
}
#ve247 .GraphSkin {
  data-skin: GLOSS;
}
#ve1084 .styleForTitle_span4 {
  font-size: 20px;
}
#ve447 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve247 .styleForTitle_span3 {
  font-size: 22px;
}
#ve689 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve399 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve963 .styleForTitle_span9 {
  font-size: 20px;
}
#ve852 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1469 .styleForTitle_span2 {
  font-size: 20px;
}
#ve1536 .LegendFill {
  frame-border: false;
}
#ve902 .styleForTitle_span7 {
  font-size: 20px;
}
#ve399 .ReportElementContainer {
  padding: 16px;
}
#ve902 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve759 .GraphSkin {
  data-skin: GLOSS;
}
#ve1536 .styleForTitle_paragraph3 {
  text-align: center;
}
#cd544 .If {
  background-color: #B14C51;
}
#ve783 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1015 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve247 .LegendFill {
  frame-border: false;
}
#ve341 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1570 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1469 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve399 .styleForTitle_span5 {
  font-size: 20px;
}
#ve963 .styleForTitle_paragraph9 {
  text-align: center;
}

			