

#ve7676 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve171 .Missing {
  color: #CCB882;
  fill-color: #CCB882;
}
#ve1836 .GraphSkin {
  data-skin: CRISP;
}
#cd954 .If {
  color: #FFDA6D;
}
#ve7001 .GraphSkin {
  data-skin: CRISP;
}
#ve528 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #FFCC32;
  line-color: #2470AD;
}
#ve2945 .LegendFill {
  transparency: 1;
}
#ve9288 .tableColumnbi9293 {
  width: 97px;
}
#ve9288 .tableColumnbi9294 {
  width: 113px;
}
#ve7001 .LegendFill {
  transparency: 1;
}
#ve171 .GraphDataStyle4 {
  fill-color: #FFCC32;
}
#ve171 .GraphDataStyle2 {
  fill-color: #545B66;
}
#ve171 .GraphDataStyle3 {
  fill-color: #E99596;
}
#ve171 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve171 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve2772 .GraphSkin {
  data-skin: CRISP;
}
#cd990 .If {
  color: #FFD9BC;
}
#ve2913 .GraphSkin {
  data-skin: CRISP;
}
#ve3036 .Container {
  background-color: #E9ECEF;
  transparency: 0.9;
}
#ve3531 .GraphSkin {
  data-skin: NONE;
}
#ve3251 .GraphSkin {
  data-skin: CRISP;
}
#ve881 .KeyFrameValue {
  horizontal-alignment: right;
  vertical-alignment: top;
}
#ve44 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve9627 .HeaderFill {
  transparency: 0.5;
}
#ve6511 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve44 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve44 .GraphDataStyle4 {
  fill-color: #0E538C;
}
#ve7001 .Container {
  background-color: #E9ECEF;
  transparency: 0.9;
}
#ve3260 .GraphSkin {
  data-skin: CRISP;
}
#ve7387 .GraphSkin {
  data-skin: CRISP;
}
#ve1095 .GraphSkin {
  data-skin: CRISP;
}
#ve9288 .Table {
  border-style: solid;
}
#ve629 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve2072 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve528 .LegendFill {
  transparency: 1;
}
#ve9859 .GraphSkin {
  data-skin: CRISP;
}
#cd10824 .If {
  color: #FC1B1B;
}
#ve2756 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve881 .TwoColorRamp1 {
  fill-gradient-start-color: #7DC3FC;
}
#ve8795 .GraphSkin {
  data-skin: NONE;
}
#ve1703 .Table {
  wrap-text: normal;
  border-style: solid;
}
#ve3137 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve528 .GraphSkin {
  data-skin: CRISP;
}
#ve9288 .tableColumnbi9309 {
  width: 104px;
}
#ve1955 .measurebi1950 {
  width: 183px;
}
#ve3507 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve1370 .GraphSkin {
  data-skin: CRISP;
}
#ve10747 .GraphSkin {
  data-skin: NONE;
}
#ve9288 .tableColumnbi9306 {
  width: 127px;
}
#ve80 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#cd988 .If {
  color: #17785F;
}
#ve9288 .Header {
  background-color: #0E538C;
}
#ve10300 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1880 .GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve2930 .GraphSkin {
  data-skin: CRISP;
}
#ve881 .TwoColorRamp {
  fill-gradient-start-color: #7DC3FC;
}
#ve1836 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve881 .LegendFill {
  frame-border: false;
}
#ve3260 .HeaderFill {
  transparency: 0.84;
  fill-color: #EBEDEF;
}
#ve2631 .ReportElementContainer {
  padding: 0px;
}
#ve8474 .HeaderFill {
  transparency: 1;
  fill-color: #EBEDEF;
}
#ve1955 .Table {
  border-style: solid;
}
#ve2945 .GraphSkin {
  data-skin: CRISP;
}
#ve3036 .ReportElementContainer {
  padding: 16px;
}
#ve528 .GraphDataStyle3 {
  marker-color: #DD5757;
  text-color: #DD5757;
  line-color: #DD5757;
}
#ve528 .GraphDataStyle2 {
  marker-color: #FCDD7C;
  text-color: #FCDD7C;
  line-color: #FCDD7C;
}
#ve8804 .GraphSkin {
  data-skin: NONE;
}
#ve528 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #FFCC32;
  line-color: #2470AD;
}
#ve3819 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve7442 .GraphSkin {
  data-skin: CRISP;
}
#ve2882 .GraphSkin {
  data-skin: CRISP;
}
#ve9641 .HeaderFill {
  transparency: 0.5;
  fill-color: #3C444F;
}
#ve7462 .GraphSkin {
  data-skin: CRISP;
}
#ve9726 .GraphSkin {
  data-skin: CRISP;
}
#ve528 .Container {
  background-color: #FFFFFF;
  transparency: 0.31;
}
#ve7387 .Container {
  background-color: #E9ECEF;
  transparency: 0.9;
}
#cd986 .If {
  color: #F9EDC6;
}
#ve2763 .GraphSkin {
  data-skin: CRISP;
}
#ve3050 .GraphSkin {
  data-skin: CRISP;
}
#ve3250 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve9627 .GraphSkin {
  data-skin: CRISP;
}
#ve691 .GraphSkin {
  data-skin: CRISP;
}
#ve9641 .GraphSkin {
  data-skin: NONE;
}
#ve307 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve3507 .GraphSkin {
  data-skin: CRISP;
}
#ve1369 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve3820 .GraphSkin {
  data-skin: CRISP;
}
#ve9014 .GraphSkin {
  data-skin: CRISP;
}
#ve10301 .GraphSkin {
  data-skin: CRISP;
}
#ve10747 .HeaderFill {
  transparency: 0.5;
  fill-color: #3C444F;
}
#cd952 .If {
  color: #FC1B1B;
}
#ve8474 .GraphSkin {
  data-skin: CRISP;
}
#ve1770 .Table {
  wrap-text: normal;
  border-style: solid;
}
#ve1880 .GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve7676 .GraphSkin {
  data-skin: CRISP;
}
#ve1880 .GraphDataStyle2 {
  fill-color: #CCA937;
}
#ve1880 .GraphDataStyle3 {
  fill-color: #16976D;
}

			