

#ve1096 .styleForTitle_span2 {
  font-weight: bold;
}
#ve3821 .styleForTitle_paragraph2 {
  text-align: center;
}
#cd3461 .If {
  color: #E99596;
}
#ve3539 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve3480 .span1 {
  font-size: 22px;
}
#ve1066 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve804 .tableColumnbi801 {
  fill-gradient-start-color: #84414B;
  fill-gradient-end-color: #545B66;
}
#ve804 .Table {
  wrap-text: normal;
}
#ve641 .infoBarTextTitle {
  font-style: italic;
}
#ve1082 .styleForTitle_span3 {
  font-weight: bold;
}
#ve3814 .GraphSkin {
  data-skin: CRISP;
}
#ve3877 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve1035 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3539 .styleForTitle_span1 {
  font-size: 24px;
}
#ve1089 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve1075 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve564 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve1284 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve3451 .paragraph1 {
  text-align: center;
}
#ve1003 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve1110 .styleForTitle_span4 {
  font-weight: bold;
}
#ve3470 .Container {
  background-color: #D2D4FF;
  transparency: 0.9;
}
#ve1103 .styleForTitle_span3 {
  font-weight: bold;
}
#ve3458 .paragraph1 {
  text-align: center;
}
#ve1089 .styleForTitle_span4 {
  font-weight: bold;
}
#ve3458 .span2 {
  font-weight: bold;
}
#ve641 .infoBarTextBold {
  font-weight: bold;
}
#ve735 .GraphSkin {
  data-skin: CRISP;
}
#ve641 .infoBarTextUnderline {
  text-decoration: underline;
}
#ve3458 .span1 {
  color: #FFAE70;
  font-size: 24px;
}
#ve3473 .span1 {
  font-size: 22px;
}
#ve1075 .styleForTitle_span2 {
  font-weight: bold;
}
#ve3828 .styleForTitle_span2 {
  font-weight: bold;
}
#ve1003 .styleForTitle_span2 {
  font-weight: bold;
}
#ve1082 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3856 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3849 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3821 .styleForTitle_span2 {
  font-weight: bold;
}
#ve3870 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve1096 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve3835 .styleForTitle_span2 {
  font-weight: bold;
}
#ve3842 .styleForTitle_span3 {
  font-weight: bold;
}
#ve3863 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve3463 .Container {
  background-color: #D2D4FF;
  transparency: 0.9;
}
#ve3842 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve3849 .styleForTitle_span3 {
  font-weight: bold;
}
#ve1110 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve1035 .styleForTitle_span3 {
  font-weight: bold;
}
#ve3451 .span1 {
  color: #7DC3FC;
  font-size: 24px;
}
#ve3856 .styleForTitle_span3 {
  font-weight: bold;
}
#ve3451 .span2 {
  font-weight: bold;
}
#ve3828 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve3863 .styleForTitle_span4 {
  font-weight: bold;
}
#ve1066 .styleForTitle_span4 {
  font-weight: bold;
}
#ve486 .Table {
  wrap-text: normal;
  border-style: none;
}
#ve3835 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve3877 .styleForTitle_span4 {
  font-weight: bold;
}
#ve1103 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve804 .tableColumnbi3745 {
  width: 276px;
}
#ve3870 .styleForTitle_span4 {
  font-weight: bold;
}

			